@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-color: #F9F7F7;
}

.dark_mode {
    /* background-color: #176B87; */
    background-color: #0f4658;
    color: white;}

.navbar {
    /* background-color: #132043; */
    background-color: #19A7CE;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow:  0 2px 50px 0 black;
}

.logo img{
    height: 40px;
    border-radius: 50px;
}


.logo{
    display: flex;
    align-items: center;
    margin: 5px;
}

.nav-items a{
    padding: 15px;
    color: white;
    text-decoration: none;
}

.nav-content {
    display: flex;
    align-items: center;
}

#dark-icon {
    height: 40px;
    cursor: pointer;
}

#cart {
    color: white;
    
}

.container {
    margin-left:5vw;
    margin-right: 5vw;
    background-color: #DBE2EF;
    box-shadow: 0 0 15px 15px #DBE2EF;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 150px;

}
.hero img{
    width: 100%;
    object-fit: cover;
    object-position:0px 28%;
    z-index:-1;
    filter: brightness(70%);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    list-style: none;
    position: relative;
    margin:50px;
}

.card img{
    z-index: 0;
    object-fit: contain;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
        filter 200ms linear,
        transform 200ms linear;
}

.card img:hover{
    object-fit: none;
    transform: scale(1.15) translateZ(0);
    z-index:2;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content p {
    font-size: 30px;
    font-weight: bold;
}

.gambar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer {
    margin-top: 100px;
    background-color: #19A7CE;
    height: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer p {
    color: white;

}

input {
    margin-left: 50px;
    width: 300px;
}

textarea {
    margin-left: 50px;
    width: 300px;
}




@media screen and (min-width: 1400px) and ( max-height: 1080px){
    .hero img{
        height: 100vh;
    }

}

@media screen and (max-width: 1399px){
    .hero img{
        height: 100%;
    }
}

@media screen and (max-width: 450px) {
    .card img{
        height: 100%;
        width: 100%;
    }
    
}